<div class="view module">
    <h1><?php echo $this->translate('A 403 error occurred') ?></h1>
    <?php if($this->zfcUserIdentity()): ?>
        Aber du bist ja auch schon eingelogggt!
     <?php else: ?>
        <?= $this->zfcUserLoginWidget(); ?>    
    <?php endif;?>
</div>